<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <main class = "vh-100 container pt-2 text-center d-flex justify-content-center align-items-center ">
        <section>
            <h1 class="display-1" >About</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem at cupiditate debitis corrupti inventore rerum id magnam nisi architecto alias. Dolorum consectetur, aliquid culpa cum facere non itaque sint dolores eius eaque! Aspernatur, ex. Necessitatibus dolor et porro reiciendis eius voluptas, vel iste! Facere et tempore voluptatem culpa quas, natus, laborum magnam incidunt laboriosam doloremque eius debitis doloribus reiciendis ullam rem aperiam. Quos consequatur rerum reprehenderit odit modi, rem odio temporibus cum sint quia voluptatem laborum? Ad deserunt quisquam necessitatibus quibusdam dolor suscipit, quis recusandae modi facilis quos velit nostrum ipsam aliquid ex, facere fugiat! Nam sit incidunt, dolore officiis provident quae quo similique pariatur sed neque repellat laboriosam ipsa maxime consectetur distinctio consequatur, quaerat iure non modi quisquam possimus! Rem ut, exercitationem porro quos nam nihil nostrum voluptates totam vel, aut ea at molestiae dolorem cupiditate ab illum officiis a laudantium reprehenderit saepe ratione. Repellendus aut beatae officia sint. Consequatur accusantium cupiditate nam fugiat nobis beatae quae ipsum minima laboriosam ex quia cum, non esse pariatur voluptatum unde iure magni voluptatibus suscipit at praesentium assumenda. Voluptatem, tenetur mollitia. Blanditiis, reprehenderit illo ex iure veritatis amet nulla soluta sunt quis doloribus non similique iste nobis neque dolorum voluptas quasi laboriosam?</p>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>